@use '../base/colors';

.input {
    all: unset;
    font-size: large;
    padding: 7.5px;
    margin: 5px 0px;
    border-radius: 5px;
    width: 250px;
    color: colors.$primary;
    background-color: colors.$primary-content;
}

@media (max-width: 768px) {
    .input {
        font-size: 13px;
        padding: 5px;
        margin: 5px 0px;
        border-radius: 15px;
        width: 140px;
    }
}