@use "../helpers/mixins";
@use "../base/colors";

.layout_page {
    @include mixins.span-cont;
    color: colors.$base-content;
    display: grid;
    grid-template-rows: 60px auto;
    overflow: hidden;
}

.layout_body {
    display: grid;
    height: 1000px;
    grid-template-columns: 0% 100%;
    transition: visibility 0.4s ease, grid-template-columns 0.4s ease;

    &.show {
        visibility: visible;
        display: grid;
        grid-template-columns: 350px auto;
    }

    &.hide {
        visibility: hidden;
        grid-template-columns: 0% 100%;
    }

}