@use './layout/layout';
@use './layout/main_view';
@use './components/sidebar';
@use './components/modal';
@use './components/card';
@use './components/button';
@use './components/input';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #020617;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}